@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-primary: #F84565;
    --color-primary-dull: #D63854;
}

*{
     font-family: "Outfit", sans-serif;
     scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar but allow scrolling */
body, html, div, section, main, aside, nav, article, .scrollable { 
    scrollbar-width: none; /* Firefox */ 
}

body::-webkit-scrollbar, 
html::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbar,
main::-webkit-scrollbar,
aside::-webkit-scrollbar,
nav::-webkit-scrollbar,
article::-webkit-scrollbar,
.scrollable::-webkit-scrollbar { 
    display: none; /* Chrome, Safari, Edge */ 
}

body{
    color: white;
    background-color: #09090B;
}

.no-scrollbar{
    scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}